RSS AI News Slack Automation v010925.json
{
  "name": "RSS AI News Slack Automation v010925",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        944,
        -96
      ],
      "id": "1ef0840b-0b56-4f2e-911f-2c125ec88860",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "c3q3l8gevH6a1NCj",
          "name": "DeepSeek Test"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const html = item.json.data || item.json.body || '';\n  const plain = html\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  const txt = (plain && plain.length > 500 ? plain : item.json.text_rss).slice(0, 9000);\n  item.json.text_for_llm = txt;\n  item.json.data = txt;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -288
      ],
      "id": "80032ebb-5641-4c04-8aed-ee82e7b23f9a",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "function fnv1a(str) {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) {\n    h ^= str.charCodeAt(i);\n    h += (h << 1) + (h << 4) + (h << 7) + (h << 8) + (h << 24);\n  }\n  return (h >>> 0).toString(16);\n}\n\nreturn items.map(item => {\n  const url = item.json.link || item.json.url || '';\n  const title = item.json.title || '';\n  const content = (item.json.content || item.json['content:encoded'] || item.json.contentSnippet || '').toString();\n\n  const text = [title, content]\n    .join('\\n')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  item.json.url = url;\n  item.json.title = title;\n  item.json.text_rss = text.slice(0, 6000);\n  item.json.url_hash = fnv1a(String(url).toLowerCase());\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -192
      ],
      "id": "1bb5f3f8-d8b7-4804-a80e-4dadb448acbb",
      "name": "normalize & hash"
    },
    {
      "parameters": {
        "jsCode": "const keepDays = 14;\nconst maxEntries = 800;\nconst now = Date.now();\n\nconst store = $getWorkflowStaticData('global');\nif (!store.seen) store.seen = {};\n\nreturn items.map(item => {\n  const key = item.json.url_hash;\n  const isNew = !store.seen[key];\n  store.seen[key] = now;\n\n  for (const [k, t] of Object.entries(store.seen)) {\n    if (now - t > keepDays * 86400000) delete store.seen[k];\n  }\n  const entries = Object.entries(store.seen);\n  if (entries.length > maxEntries) {\n    entries.sort((a,b) => a[1] - b[1]);\n    for (let i = 0; i < entries.length - maxEntries; i++) delete store.seen[entries[i][0]];\n  }\n\n  item.json._isNew = isNew;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -192
      ],
      "id": "f3f640db-0c04-42ca-9cb7-fb5e8e24a8af",
      "name": "parse HTML"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ae4fafc-43ff-41d7-8796-d26fe6ba33e7",
              "leftValue": "={{$json[\"_isNew\"]}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        -192
      ],
      "id": "9ce66c28-7b0e-49e9-bf49-5f0086b4a127",
      "name": "New?"
    },
    {
      "parameters": {
        "url": "={{$json[\"url\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 8000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -288
      ],
      "id": "880f6698-0a30-4e65-8401-7d64ac043fe4",
      "name": "fetch article"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a precise news triager. Summarize (<=120 words), sentiment (positive|negative|neutral), up to 6 keywords, flags from [funding, acquisition, partnership, product_launch, regulation, hiring].\n\nTITLE: {{ $('parse HTML').item.json.title }}\nURL: {{ $('parse HTML').item.json.link }}\nTEXT: {{$json[\"text_for_llm\"]}}\n\nReturn JSON only:\n{\"summary\":\"\",\"sentiment\":\"\",\"keywords\":[],\"flags\":[]}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        864,
        -288
      ],
      "id": "cf2066e8-5f49-4688-a5a0-2c0d7c191d36",
      "name": "analyze with LLM"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const raw = item.json.text || item.json.data || item.json.output || '';\n  let o = {};\n  try { o = typeof raw === 'string' ? JSON.parse(raw) : raw; } catch {}\n  item.json.summary   = o.summary || '';\n  item.json.sentiment = (o.sentiment || 'neutral').toLowerCase();\n  item.json.keywords  = Array.isArray(o.keywords) ? o.keywords : [];\n  item.json.flags     = Array.isArray(o.flags) ? o.flags : [];\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -288
      ],
      "id": "ae6ca7e3-efac-4bb7-a161-423739d1ec83",
      "name": "parse LLM JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef132948-33d8-475a-b876-a7c4cf1ac302",
              "leftValue": "={{$json[\"sentiment\"]}}",
              "rightValue": "neutral",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "dd76bbc8-a056-4f58-a75f-1d5a38220224",
              "leftValue": "={{$json[\"flags\"].join(\",\")}}",
              "rightValue": "acquisition",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "1f015b50-723d-4e58-943e-7cda07bd25f1",
              "leftValue": "={{$json[\"flags\"].join(\",\")}}",
              "rightValue": "funding",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "5db4476c-c8ee-475d-9d0e-1b267b362fa3",
              "leftValue": "={{$json[\"flags\"].join(\",\")}}",
              "rightValue": "product_launch",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1408,
        -288
      ],
      "id": "ccec8360-a00f-486e-a3c6-ef482a04b68c",
      "name": "Relevant?"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U09CM6EBSNL",
          "mode": "id"
        },
        "text": "=*News Alert* 📰  \n*{{ $('RSS Feed').item.json.title }}*  \n{{$json[\"summary\"]}}  \n\nSentiment: {{$json[\"sentiment\"]}}  \nFlags: {{ $json[\"flags\"].join(\", \") || \"—\" }}  \n\n<{{ $('RSS Feed').item.json.link }}>",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1632,
        -384
      ],
      "id": "be7cd945-61aa-4512-9d3d-28f8ce4cbfad",
      "name": "send to Slack",
      "webhookId": "0ba75e6f-2e55-4b08-b7de-51f40ebcf281",
      "notesInFlow": true,
      "credentials": {
        "slackApi": {
          "id": "XuUwy2Lth9glqHbY",
          "name": "Slack Test"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        },
        "feedUrl": "https://techcrunch.com/feed/"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        -400
      ],
      "id": "44220e76-0e66-43e3-8c4d-f4b0ae6d16e1",
      "name": "RSS Feed"
    }
  ],
  "pinData": {},
  "connections": {
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "analyze with LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "analyze with LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize & hash": {
      "main": [
        [
          {
            "node": "parse HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse HTML": {
      "main": [
        [
          {
            "node": "New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New?": {
      "main": [
        [
          {
            "node": "fetch article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch article": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analyze with LLM": {
      "main": [
        [
          {
            "node": "parse LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse LLM JSON": {
      "main": [
        [
          {
            "node": "Relevant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Relevant?": {
      "main": [
        [
          {
            "node": "send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send to Slack": {
      "main": [
        []
      ]
    },
    "RSS Feed": {
      "main": [
        [
          {
            "node": "normalize & hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb039312-44ea-4e35-ab6d-a047549910e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4655497243705f66b47991d9dbe9a9222e8444b5c2782e466f572ff93867cb4c"
  },
  "id": "cZqsFsT0dT7XJO3K",
  "tags": [
    {
      "createdAt": "2025-08-23T19:10:40.177Z",
      "updatedAt": "2025-08-23T19:10:40.177Z",
      "id": "7ASMGI4lVr4Eo8rL",
      "name": "tuguidragos.com"
    },
    {
      "name": "rss",
      "id": "n3yKbZ1k0G32PsQK",
      "createdAt": "2025-09-01T16:14:02.175Z",
      "updatedAt": "2025-09-01T16:14:02.175Z"
    },
    {
      "name": "news",
      "id": "t2EcIvqmhXhIFZHS",
      "createdAt": "2025-09-01T16:14:05.043Z",
      "updatedAt": "2025-09-01T16:14:05.043Z"
    },
    {
      "name": "ai-analysis",
      "id": "kcwb9hV3Q0yE899g",
      "createdAt": "2025-09-01T16:14:14.257Z",
      "updatedAt": "2025-09-01T16:14:14.257Z"
    },
    {
      "name": "slack-alerts",
      "id": "KBQZBD4R6LVuuFK2",
      "createdAt": "2025-09-01T16:14:22.027Z",
      "updatedAt": "2025-09-01T16:14:22.027Z"
    },
    {
      "createdAt": "2025-08-31T21:12:32.130Z",
      "updatedAt": "2025-08-31T21:12:32.130Z",
      "id": "NtEM4qJBPpIvfcPu",
      "name": "automation"
    }
  ]
}